.button__group{
    display: flex;
    flex-direction: row;
}

/* buttons */
.button{
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 20px;
  }

  button{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 0.9rem;
    background-color: #4490be;
    color: black;
    border: none;
    border-radius: 5px
  }

.left{
  left: 1vw;
  position: absolute;
}

.top{
  margin-top: 30vh;
}

.middle{
  margin-top: 18vh;
}

.secondary{
  background-color: #EDC305;
  color: black;
}

.secondary:hover{
  background-color: #FF6600;
  color: white;
}

.fixedwidth{
  width: 18vw;
}


  .oplosmatrix__lock-button{
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 1.2rem;
    background-color: #4490be;
    color: white;
    border: none;
    position: absolute;
    margin-top: 1.5rem;
    cursor: pointer;
}


  
  .primary{
    background-color: #4490be;
    color: white;
  }
  
  .primary:hover{
    background-color: #338dcf;
  }

  .submit{
    margin-top: 6.5vh;
    height: 50px;
  }

  .submitSecond{
    margin-top: 3vh;
    margin-left: 70%;
  }

  .center{
    position: absolute;
    top: 60%; right: 47.5%;
    transform: translate(50%,-50%);
  }

  .centerSecond{
    position: absolute;
    top: 65%; right: 50%;
    transform: translate(50%,-50%);
  }


  #myBtn {
    width: 200px;
    font-size: 1.75rem;
    padding: 10px;
    border-radius: 25px;
    margin-right: 55px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }


  @media screen and (min-width: 1900px) {
    .submit{
      margin-top: 4.8vh;
      height: 50px;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1181px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .submit{
      margin-top: 6vh;
      height: 50px;
    }

    .center{
      position: absolute;
      top: 60%; right: 45%;
      transform: translate(50%,-50%);
    }
  
}