.elem {
  position: absolute;
  top: 7.5vh;
  left: 20vw;
}

  .button__print{
    position: fixed;
  }

  .certificaat{
    width: 1123px;
    height: 794px;
    border-radius: 25px;
  }

  .certificaat__container{
    background-image: url("../img/planeten/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
  }

  .certificaat__punten{
    color: black;
    font-size: 50px;
    position: absolute;
    top: 38vh;
    left: 22.5vw;
  }