.elem {
  position: absolute;
  top: 7.5vh;
  left: 25vw;
}

  .certificaat{
    width: 55vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .certificaat__container{
    background-image: url("../img/planeten/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
  }

  .certificaat__punten{
    color: black;
    font-size: 50px;
    position: absolute;
    top: 38vh;
    left: 15vw;
    border-bottom: 2px solid #338dcf;
    padding-left: 5vw;
    padding-right: 5vw;
  }


  .certificaat__playerOne{
    color: black;
    font-size: 35px;
    position: absolute;
    display: flex;
    flex-direction: row;
    text-align: center;
    top: 55vh;
    left: 22.5vw;
  }

  .certificaat__playersTwo{
    color: black;
    font-size: 35px;
    position: absolute;
    display: flex;
    flex-direction: row;
    text-align: center;
    top: 55vh;
    left: 20vw;
  }


  @media only screen and (min-device-width: 768px) and (max-device-width: 1181px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .elem {
      top: 15vh;
      left: 20vw;
    }
  
      .certificaat{
        width: 75vw;
      }

      .certificaat__punten{
        top: 32vh;
        left: 19vw;
      }
    
      .certificaat__playerOne{
        top: 45vh;
        left: 30.5vw;
      }
    
      .certificaat__playersTwo{
        top: 45vh;
        left: 25vw;
      }
}
