.clickingGame__container{
    background-image: url('../img/clickingGame/ruimte-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
}
.clickingGame__garbage__container{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-content: space-around;
    width: 100vw;
    height: 80vh;
    padding-top: 12.5vh;
}

.garbage_1{
    grid-column: 4;
    grid-row: 3;
    height: 10rem;
    animation: rotationRight 6s infinite linear;
}

.garbage_2{
    grid-column: 1;
    grid-row: 1;
    height: 10rem;
    animation: rotationLeft 15s infinite linear;
}

.garbage_3{
    grid-column: 3;
    grid-row: 1;
    width: 10px;
    height: 10px;
    animation: leftToRightDiagonal 4s infinite linear;
}

.garbage_4{
    grid-column: 2;
    grid-row: 2;
    height: 10rem;
    animation: orbit 4s infinite linear;
}

.garbage_5{
    grid-column: 5;
    grid-row: 1;
    height: 10rem;
    animation: upToDown 3s infinite linear;
}

.garbage_6{
    grid-column: 1;
    grid-row: 4;
    height: 10rem;
    animation: leftToRight 3s infinite linear;
}

@keyframes rotationRight{
    0%{
        transform:rotate(0deg) translate(0);
    }
    50%{
        transform:rotate(180deg) translate(20rem,0);
    }
    100%{
        transform: rotate(359deg) translate(0);
    }
}

@keyframes rotationLeft{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(-359deg);
    }
}

@keyframes leftToRightDiagonal{
    0%{
        transform: translate(0);
    }
    50%{
        transform:translate(5rem, 10rem)
    }
}

@keyframes upToDown{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(0,50vh);
    }
}

@keyframes leftToRight{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(30vw,0);
    }
}

@keyframes orbit {
    from { 
        transform: rotate(0deg) translateX(150px) rotate(0deg); 
    }
    to   { 
        transform: rotate(360deg) translateX(150px) rotate(360deg); 
    }
}