.hint-button{
    position: absolute;
    z-index: 99;
    right:3vw;
    top: 3vh;
}

.hint-container{
  width: 50vw;
  height: 50vh;
  border: 2px solid cyan;
  background-color: black;
  opacity: .8;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.hint-header{
    font-size: 20px;
    color: #fff;
    margin:0;
}

.hint-container-content-hint{
    width: 48vw;
    color:white;
    text-align: center;
}