body{
    overflow: hidden;
}
.quiz-background{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    width: 100vw; 
    position: absolute;
    left:0;
}

.quiz-computer{
    position: absolute;
    width: 12vw;
    top: 61vh;
    left: 75vw;
    cursor: pointer;
}

.quiz-tablet{
    position: absolute;
    width: 8vw;
    bottom: -10vh;
    left: 47.5vw;
    cursor: pointer;
}

.quiz-zonnestelsel{
    width: 19vw;
    position: absolute;
    top: 35vh;
    left: 42vw;
    box-sizing: border-box;
    border-radius: 10px;
    animation: zonnestelsel 5s ease-out infinite;
}

.quiz-zonnestelsel:hover{
    cursor: pointer;
    border: 1px solid white;
}

.modal-zonnestelsel{
    background-color: rgb(41, 41, 41);
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
    padding: 1rem;
    border-radius: 20px;
    width: 65vw;
    height: 60vh;
    left: 50%;
    transform: translate(27.5%, 35%);
}

.planeten{
    width: 110px;
    box-sizing: border-box;
}

.planeten:hover{
    cursor: pointer;
}

.modal-zonnestelsel-container{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    top:-40px;
    left:-30px;
    transform:translate(-30%,-100%);
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip img{
      padding: 0 15px;
}

.modal-tablet{
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
    left: 31vw;
    width: 35%;
    height: 90%;
    position: absolute;
}


.tablet{
    width: 100%;
    height: 100%;
    position: absolute;
}

.tablet-notes-text{
    position: absolute;
    left: 3vw;
    top: 12vh;
    font-size: 0.8rem;
    font-weight: bold;
}

.modal-computer{
    box-sizing: border-box;
    border-radius: 20px;
    left: 17.5vw;
    width: 65%;
    height: 95%;
    position: absolute;
}

.computer{
    width: 100%;
    height: 100%;
    position: absolute;
}

.computer-notes-text{
    position: absolute;
    left: 5vw;
    top: 8vh;
    font-size: 1.15rem;
    font-weight: bold;
    color: white;
    height: 52vh;
    width: 58vw;
}

.text-black{
    color: black;
}

.quizz-input{
    width: 50%;
    height: 30px;
    margin-top: 50px;
    position: relative;
    border-radius: 10px;
    left: 22.5%;
}

.quizz-error{
    color: rgb(255, 45, 45);
}

#invisible, #invisibleH{
    display: none;
}

#visible, #visbleH{
    display: block;
}

.text-white{
    color:white;
}

.list li{
    list-style: none;
    font-size: 16px;
    cursor: pointer;
}

.tablet-question{
    font-size: 16px;
}

li:hover{
    color: red;
}

.quizz-antwoord{
    display: flex;
}

#one{
    padding-left: 5px;
}

#two, #three{
    padding-left: 2px;
}

#four{
    padding-left: 30px;
    font-size: 14px;
}

.quiz-intro{
    width: 50vw;
    height: 50vh;
    background-color: rgb(41, 41, 41);
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
    padding: 2rem;
    border-radius: 20px;
    position: absolute;
    transform:translate(50%,50%);
    z-index: 100;
}

#open{
    display: block;
}

#exit{
    display: none;
}

.exit-btn{
    left: 37.5%;
}

.planeten:hover{
    transform: scale(1.15);
    transition: all 0.5s ease;
}

@keyframes zonnestelsel {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      margin-top: 20px;
      opacity: 0.8;
    }
    50% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        margin-top: 0;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        margin-top:20px;
        opacity: 0.8;
      }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1181px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .quiz-background{
        height: 100vh;
    }

    .quiz-zonnestelsel{
        width: 29vw;
        top: 22.5vh;
        left: 37vw;
    }

    .modal-zonnestelsel{
        width: 75vw;
        height: 60vh;
        left: 50%;
        transform: translate(15%, 35%);
    }

    .tooltip:focus .tooltiptext {
        visibility: visible;
    }
    
    .planeten{
        width: 90px;
        box-sizing: border-box;
    }

    .quiz-computer{
        width: 20vw;
        top: 42.5vh;
        left: 70vw;
    }
    
    .quiz-tablet{
        width: 12vw;
        bottom: -8vh;
        left: 45vw;
    }

    .modal-tablet{
        left: 25vw;
        width: 50%;
    }

    .modal-computer{
        left: 15vw;
        width: 75%;
        height: 75%;
        bottom: 5vh;
    }

    .computer-notes-text{
        font-size: 1.0rem;
        height: 62vh;
        width: 65vw;
    }

    .quizz-input{
        width: 60%;
        height: 30px;
        left: 22.5%;
    }

    .tablet-notes-text{
        left: 5vw;
        top: 17vh;
    }
  }