body{
    overflow: hidden;
}
.rebus-background{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    width: 100vw; 
    position: absolute;
    left:0;
}

.block-rebus{
    position: absolute;
    /* background-color: rgba(0, 128, 0, 0.425); */
    width: 50px;
    height: 80px;
    top: 53vh;
    left: 45.5vw;
    cursor: pointer;
}

.handle-rebus{
    position: absolute;
    /* background-color: rgba(0, 128, 0, 0.425); */
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 52vh;
    left: 50.5vw;
    cursor: pointer;
}

.modal-rebus{
    background-color: rgb(41, 41, 41);
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
    padding: 2rem;
    border-radius: 20px;
    width: 70vw;
    height: 80vh;
    left: 50%;
    transform: translate(22.5%, 10%);
}

.rebus-flex{
    display: flex;
}

.rebus{
    width: 550px;
}

.rebus-code{
    width: 100vw;
    height: 300px;
    padding-left: 20px;
    color: white;
    transform: translateY(5%);
}

.rebus-input{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-radius: 10px;
}


.rebus-error{
    color: rgb(255, 45, 45)
}

#invisible{
    display: none;
}

#visible{
    display: block;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1181px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .rebus-background{
        height: 100vw; 
    }

    .block-rebus{
        position: absolute;
        width: 100px;
        height: 100px;
        top: 63vh;
        left: 45.5vw;
        cursor: pointer;
    }

    .modal-rebus{
        width: 95vw;
        height: 70vh;
        left: 40%;
        transform: translate(2.5%,30%);
    }

    .rebus-code{
        width: 50vw;
        height: 200px;
        padding-left: 20px;
        font-size: 0.8rem;
        color: white;
        transform: translateY(-10.5%);
    }

    .rebus-input{
        width: 100%;
        height: 30px;
        margin-top: -5px;
        border-radius: 10px;
    }
}