body{
    overflow: hidden;
}
.rebus-background{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    width: 100vw; 
    position: absolute;
    left:0;
}

.block-rebus{
    position: absolute;
    /* background-color: rgba(0, 128, 0, 0.425); */
    width: 50px;
    height: 80px;
    top: 53vh;
    left: 45.5vw;
    cursor: pointer;
}

.handle-rebus{
    position: absolute;
    /* background-color: rgba(0, 128, 0, 0.425); */
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 52vh;
    left: 50.5vw;
    cursor: pointer;
}

.modal-rebus{
    background-color: rgb(41, 41, 41);
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
    padding: 2rem;
    border-radius: 20px;
    width: 75vw;
    height: 80vh;
    left: 50%;
    transform: translate(15%, 10%);
}

.rebus-flex{
    display: flex;
}

.rebus{
    width: 60%;
}

.rebus-code{
    width: 100%;
    height: 200px;
    padding-left: 20px;
    color: white;
    transform: translateY(50%);
}

.rebus-input{
    width: 100%;
    height: 30px;
    margin-top: 50px;
    border-radius: 10px;
}

.rebus-btn{
    position: relative;
    left: 22.5%;
    margin-top: 20px;
    padding: 10px 5px 10px 5px;
    background-color: #03afef;
    color: white;
    font-size: 1.0rem;
    letter-spacing: .1rem;
    border: none;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    width: 15vw;
    text-transform: uppercase;
}

.rebus-btn:hover{
    background-color: #338dcf;
}


.btn{
    cursor: pointer;
}

.rebus-error{
    color: rgb(255, 45, 45)
}

#invisible{
    display: none;
}

#visible{
    display: block;
}