.astronaut{
    position: absolute;
    left: 30vw;
    bottom: 0vh;
}

.astronaut__twee{
    position: absolute;
    left: -15vw;
    bottom: 0vh;
}

.astronaut__drie{
    position: absolute;
    left: 25vw;
    bottom: 0vh;
}
.astronaut__vier{
    position: absolute;
    left: 40vw;
    bottom: 0vh;
}


.astronaut__image{
    width: 12.5vw;
}

.textcloud{
    position: absolute;
    left: 40vw;
    top: 1.5vh;
}

.textcloud__image{
    width: 25vw;
}

.textcloud__field{
    position: absolute;
    top: 1vh;
    width: 90%;
    left: .75vw;
}

.textcloud__text{
    font-size: 1.23rem;
    margin-left: 1vw;
    line-height: 1.8;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1181px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .astronaut__image{
        width: 18.5vw;
    }

    .astronaut{
        position: absolute;
        left: 22vw;
        bottom: 0vh;
    }
    
    .astronaut__twee{
        position: absolute;
        left: -15vw;
        bottom: 0vh;
    }
    
    .astronaut__drie{
        position: absolute;
        left: 35vw;
        bottom: 0vh;
    }
    .astronaut__vier{
        position: absolute;
        left: 55vw;
        bottom: 0vh;
    }

    .textcloud__image{
        width: 40vw;
    }

    .textcloud__text{
        font-size: 1.13rem;
        line-height: 1.5;
    }

    .textcloud{

        left: 35vw;
        top: 1.5vh;
    }
}
