#launchVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#landingVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0vh;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 50px;
  }

  .video__heading{
    width: 90%;
    text-align: center;
    letter-spacing: .2rem;
    line-height: 3.75rem;
    font-size: 2.0rem;
  }

  .video__buttonGroup{
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  

  .landing_ended{
    position: absolute;
    top: 45vh;
    display: none;
    width: 100vw;
  }


  .welcome{
    position: absolute;
    color: white;
    font-size: 3.7rem;
    top: 25vh;
    left: 2.5vw;
    font-family: 'Andika', sans-serif;
  }

  .doel{
    position: absolute;
    color: white;
    font-size: 1.7rem;
    top: 41vh;
    left: 2.5vw;
    font-family: 'Andika', sans-serif;
  }


  @media only screen and (min-device-width: 768px) and (max-device-width: 1181px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .welcome{
      left: 4vw;
      font-size: 3.2rem;
    }

    .landing_ended{
      right: 4vw;
    }
}